<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    
  </configSections>
    
  <appSettings>
    <!-- <add key="" value="" /> -->
    <!-- App Settings -->
    <add key="Title" value="NewWebApp" />
    <add key="Descripton" value="NewWebApp is a New Web App. Who Knew?" />
    <add key="Launch" value="2013-04-13" />
    <add key="Url" value="http://localhost" />
    <add key="Author" value="Bhavitra" />
    <add key="AuthorUrl" value="http://www.bhavitra.com" />
    <add key="AuthorLogo" value="bhavitraLogo.png" />
    <add key="AuthorEmail" value="info@bhavitra.com" />    
    <add key="LastModified" value="2013-4-14" />
    <add key="Copyright" value="Copyright (c) 2013, NewWebAp. All Rights Reserved." />

    
    <!-- App Links -->
    <add key="js" value="~/_Assets/js/" />
    <add key="css" value="~/_Assets/css/" />
    <add key="img" value="~/_Assets/img/" />
    <add key="plugin" value="~/_Plugin/" /> 
    
    
    <!-- Account Pages -->
    <add key="HomePage" value="~/Default.aspx" />
    <add key="LoginPage" value="~/Login.aspx" />
    <add key="LogoutPage" value="~/Default.aspx?m=l" />
    <add key="LoginKeyString" value="logged"/>
    
  </appSettings>
  
  <connectionStrings>
    <add name="default" connectionString="Data Source=VIKZ91-VAIO\SQLEXPRESS;Initial Catalog=Studnet;User ID=AppGauge;Password=******"/>
  </connectionStrings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>